.kpi-view {
  width: 100%;
  padding: 20px;
}

.kpi-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.BPMDetailsSummary-data {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.kpi-view-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.kpi-general-average {
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}


