#luminometry-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Asegura que la tabla use el 100% del ancho */
}

#luminometry-table th,
#luminometry-table td {
  border: 1px solid #dee2e6;
  padding: 0.5rem;
  text-align: left;
  vertical-align: middle;
}

#luminometry-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #f8f9fa;
}

#luminometry-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Colores personalizados para las filas */
#luminometry-table .bg-light-green {
  background-color: lightgreen;
}

#luminometry-table .bg-yellow {
  background-color: yellow;
}

#luminometry-table .bg-red {
  background-color: red;
  color: white;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
  /* Ocultar el encabezado de la tabla */
  #luminometry-table thead {
    display: none;
  }

  /* Estilos para mostrar los labels al lado del contenido en pantallas pequeñas */
  #luminometry-table, 
  #luminometry-table tbody, 
  #luminometry-table td, 
  #luminometry-table tr {
    display: block;
    width: 100%;
  }

  /* Hacer que los td se comporten como bloques con labels al lado */
  #luminometry-table td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 100%;  /* Asegura que las celdas usen todo el ancho */
    box-sizing: border-box;
  }

  /* Mostrar los labels como pseudo-elemento en pantallas pequeñas */
  #luminometry-table td::before {
    content: attr(data-label);  /* Usa el valor de data-label */
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    flex-basis: 40%;  /* Ocupa el 40% del ancho de la celda */
    color: #333;
  }

  #luminometry-table td {
    font-size: 10px;
    padding: 8px;
  }

  /* Asegurar que el pie de página también se muestre correctamente */
  #luminometry-table tfoot td {
    display: block;
    text-align: right;
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  #luminometry-table {
    font-size: 8px;
  }

  #luminometry-table th,
  #luminometry-table td {
    padding: 0.1rem;
  }
}
