.ETADetailsSymary-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ETADetailsSymary-container h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.ETADetailsSummary-data {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.ETADetailsSummary-general-average {
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}


.ETADetailsSummary-data-table th,
.ETADetailsSummary-data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}


.ETADetailsSummary-graph {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.ETADetailsSummary-cumplimientos {

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ETADetailsSummary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 100px;
}

#ETADetailsSummary-table th, #ETADetailsSummary-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

#ETADetailsSummary-table th {
  background-color: skyblue;
  color: black;
}

.ETADetailsSummary-cards-graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  overflow-y: auto;
  margin-top: 20px;
  padding: 5px;
  border-top: 1px solid #ddd;
  
}

.ETADetailsSummary-card-graph {
  max-width: 180px;
  background-color: #2e86c1 ;
  border: 1px solid #ccc;
  border-radius: 5px 25px;
  padding: 5px;
  flex: 1 1 calc(33.333% - 10px);
  text-align: center;
  
}

.ETADetailsSummary-card-graph p {
  font-size: 12px;
  font-weight: bold;
  color: white;
}


