.summary-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.summary-container>div {
  margin-bottom: 20px;
}

.buttons-summary {
  display: flex;
  justify-content: center;
  gap: 10px;
}