:root {
  --bg-color: #f8f9fa;
  --border-radius: 8px;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --primary-color: #007bff;
  --danger-color: #dc3545;
  --hover-color: #0056b3;
}

.Resumen-form-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  
}

.Resumen-form-container .pdf-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
}

.Resumen-form-container .pdf-card:hover {
  transform: scale(1.05);
}

/* Botones de la tarjeta del PDF */
.Resumen-form-container .pdf-dd-car-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.Resumen-form-container .routes-downloads {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
}

.Resumen-form-container .routes-downloads button {
  flex: 1;
}

/* Botón para ver PDF */
.Resumen-form-container .btn-pdf-resumenForm {
  color: #fff;
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

.Resumen-form-container .btn-pdf-resumenForm:hover,
.Resumen-form-container .btn-pdf-resumenForm:focus {
  background-color: var(--hover-color);
  outline: none;
}

/* Botón rojo para eliminar PDF */
.Resumen-form-container .btn-red {
  background-color: var(--danger-color);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.Resumen-form-container .btn-red:hover,
.Resumen-form-container .btn-red:focus {
  background-color: #c82333;
  outline: none;
}

#resumenForm-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* Responsividad */
@media (max-width: 767px) {
  .Resumen-form-container .pdf-card-container {
    flex-direction: column;
    align-items: center;
  }

  .Resumen-form-container .pdf-card {
    width: 100%;
    max-width: 320px;
  }

  .Resumen-form-container .routes-downloads {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Resumen-form-container .pdf-card-container {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }

  .Resumen-form-container .pdf-card {
    width: 45%;
  }
}

@media (min-width: 1025px) {
  .Resumen-form-container .pdf-card-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  .Resumen-form-container .pdf-card {
    width: 250px;
  }
}
