.pdf-card {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 10px;
  width: 200px;
  text-align: center;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out;
}

.pdf-card:hover {
  transform: scale(1.05);
}

.pdf-preview {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pdf-dd-car-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap; /* Mejora para pantallas pequeñas */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}

.btn-pdf-resumenForm {
  color: #fff;
  font-weight: bold;
  background-color: #007bff;
  padding: 8px 12px; /* Añadir padding para mejorar el área táctil */
  border-radius: 4px;
  text-decoration: none;
}

.btn-pdf-resumenForm:hover {
  background-color: #0056b3; /* Cambia el color al pasar el mouse */
}

.btn-red {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-red:hover {
  background-color: #c82333;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 767px) {
  .pdf-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pdf-card {
    width: 100%;
    max-width: 300px;
  }

  .pagination button {
    padding: 8px 12px;
  }

  .pagination span {
    font-size: 14px;
  }
}

/* Para pantallas medianas */
@media (min-width: 768px) and (max-width: 1024px) {
  .pdf-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }

  .pdf-card {
    width: 45%;
  }
}

/* Para pantallas grandes */
@media (min-width: 1025px) {
  .pdf-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  .pdf-card {
    width: 200px;
  }
}
