.criticalEvaluation-container {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-evaluation-container {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.circular-graph-evaluation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-evaluation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-evaluation {
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.green {
  background-color: #28a745;
}

.red {
  background-color: #dc3545;
}

.yellow {
  background-color: #ffc107;
}

.gray {
  background-color: #6c757d;
}

.black {
  background-color: black;
}

@media (max-width: 767px) {
  .criticalEvaluation-container {
    flex-direction: column;
    padding: 15px;
  }

  .card-evaluation-container {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }

  .cards-evaluation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .circular-graph-evaluation {
    margin-bottom: 20px;
  }

  .card-evaluation {
    padding: 8px;
    font-size: 12px;
  }

  .circular-graph-evaluation .highcharts-container {
    width: 100% !important;
    height: auto !important;
  }
}
