.criticalEvaluation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.criticalEvaluation-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;

}

.circular-graph-evaluation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
}

.cards-evaluation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

.card-evaluation {
  padding: 8px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.card-evaluation h5 {
  font-size: 12px;
  font-weight: bold;
}

.card-evaluation p {
  font-size: 10px;
  color: white;
}

.green {
  background-color: #28a745;
}

.red {
  background-color: #dc3545;
}

.yellow {
  background-color: #ffc107;
}

.gray {
  background-color: #6c757d;
}

.black {
  background-color: black;
}

/* Responsive Design */
@media (max-width: 767px) {
  .criticalEvaluation-container {
    flex-direction: column;
    align-items: center;
  }

  .circular-graph-evaluation {
    width: 100%;
    margin-bottom: 20px;
  }

  .cards-evaluation {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-evaluation {
    width: 48%;
    padding: 10px;
    font-size: 12px;
  }

  .circular-graph-evaluation .highcharts-container {
    width: 100% !important;
    height: auto !important;
  }
}
