.control-desviaciones-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.control-desviaciones-table {
  width: 100%;
  margin-top: 20px;
}