.kpi-graph-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kpi-graph-graph {
  width: 100%;
}

.kpi-graph-table {
  width: 100%;
}

#kpi-percentage-table {
  width: 100%;
  margin-top: 20px;
}





