.ie-control-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 12px;
  background-color: #f7f9fc;
}

.container-linea {
  padding: 20px;
  position: relative;
  width: 100%;
}

.control-linea {
  position: relative;
  width: 4px;
  background-color: #0288d1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  margin: 0 auto;
}

.control-punto {
  position: relative;
  width: 220px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e86c1;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.control-punto:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.percentage-circle {
  width: 50px;
  height: 50px;
  background-color: #f39c12;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  
}

.point-text {
  text-align: center;
}

.control-punto.left {
  transform: translateX(-180px);
}

.control-punto.right {
  transform: translateX(180px);
}

.control-promedio-final {
  margin-top: 40px;
  padding: 20px;
  background-color: #2e86c1;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.control-promedio-final p {
  color: white;
}

/* Responsive styles */
@media (max-width: 767px) {
  .container-linea {
    max-width: 400px;
    padding: 15px;
  }

  .control-punto {
    width: 180px;
    font-size: 14px;
  }

  .control-punto.left {
    transform: translateX(-150px);
  }

  .control-punto.right {
    transform: translateX(150px);
  }

  .percentage-circle {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  .control-promedio-final {
    font-size: 16px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .container-linea {
    max-width: 100%;
    padding: 10px;
  }

  .control-linea {
    width: 3px;
  }

  .control-punto {
    width: 150px;
    padding: 10px;
    font-size: 12px;
  }

  .control-punto.left,
  .control-punto.right {
    transform: translateX(0);
    text-align: center;
  }

  .percentage-circle {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .control-promedio-final {
    font-size: 14px;
    padding: 10px;
  }
}
