.eta-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.legend {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.legend-item {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-warning {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  max-width: 100%;
  border: 1px solid #dee2e6;
}

.table-warning th,
.table-warning td {
  border: 1px solid #dee2e6;
  padding: 12px;
  text-align: left;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.table-warning th {
  background-color: skyblue;
  font-weight: bold;
}

.table-warning tr:hover td {
  background-color: #f1f1f1;
}

.table-warning tbody tr:nth-child(even) td {
  background-color: #f9f9f9;
}

.table-warning tbody tr:nth-child(odd) td {
  background-color: #ffffff;
}

.table-warning td div {
  word-wrap: break-word;
}

@media (max-width: 768px) {

  .table-warning th,
  .table-warning td {
    padding: 10px;
    font-size: 0.9rem;
  }
}