/* Variables */
:root {
  --primary-color: #007bff;
  --danger-color: #dc3545;
  --bg-color: #fff;
  --hover-bg-color: #e9ecef;
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 4px 8px rgba(0, 0, 0, 0.2);
  --border-radius: 10px;
  --transition: 0.2s ease;
  --icon-size: 40px;
  --card-size: 150px;
  --font-size-small: 14px;
  --font-size-large: 18px;
}

/* Left Icons */
.left-icons {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left-icons .icon {
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--bg-color);
  border-radius: 50%;
  box-shadow: var(--shadow);
  transition: background-color var(--transition);
}

.left-icons .icon:hover {
  background-color: var(--hover-bg-color);
}

.left-icons .icon.logout {
  color: var(--danger-color);
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Card Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  justify-items: center;
}

.card {
  width: var(--card-size);
  height: var(--card-size);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform var(--transition);
}

.card:hover {
  transform: scale(1.05);
}

.card-icon {
  font-size: 40px;
  color: var(--primary-color);
}

.card-title {
  margin-top: 10px;
  font-size: var(--font-size-small);
  font-weight: bold;
  color: #333;
  text-align: center;
}


/* Animations */
.animated-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 767px) {
  #form-logo {
    width: 100px;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 120px;
    height: 120px;
  }

  .card-icon {
    font-size: 30px;
  }

  .card-title {
    font-size: 12px;
  }

  .left-icons {
    position: static;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  .left-icons .icon {
    margin: 0 10px;
  }
}