.ie-eficiencia-container {
  margin: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 50px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ie-eficiencia-grafico {
  flex: 1 1 60%; /* Adjust the chart width on larger screens */
  min-width: 400px; /* Set minimum width for the chart */
}

.ie-eficiencia-cards {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%; /* Adjust card container width */
  gap: 10px;
}

.eficiencia-card {
  padding: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
}

.flujo-op {
  background-color: #1E90FF;
}

.procedimientos {
  background-color: #32CD32;
}

.resoluciones {
  background-color: #FF4500;
}

.mantenciones {
  background-color: #FFD700;
  color: black;
}

.almacenamiento {
  background-color: #8A2BE2;
}

.control-temperatura {
  background-color: #FF69B4;
}

.planificacion {
  background-color: #20B2AA;
}

.reposicion {
  background-color: #FF6347;
}


@media (max-width: 767px) {
  .ie-eficiencia-container {
    flex-direction: column; 
  }

  .ie-eficiencia-grafico {
    min-width: 100%;
  }

  .ie-eficiencia-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .eficiencia-card {
    flex: 1 1 45%;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .eficiencia-card {
    flex: 1 1 100%;
    font-size: 10px;
  }
}
